<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team List</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Add Member</h1>

    <form class="add" action="/add" method="POST">
      <input type="text" name="name"  placeholder="name">
      <input type="text" name="age"  placeholder="age">
      <input type="text" name="company"  placeholder="company">
      <input type="text" name="genderExpression"  placeholder="genderExpression">
      <input type="text" name="race"  placeholder="race">
      <input type="submit" name="" >
    </form>

    <a href="/"><button type="button" name="button">Home</button></a>
    <a href="/update"><button type="button" name="button">Update</button></a>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
